* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.s {
    background-image: url(https://idsb.tmgrup.com.tr/ly/uploads/images/2020/11/25/thumbs/800x531/74707.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
    width: 100%;
}

.h {
    font-size: 75px;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.r {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.v {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}